.register {
/* border: 3px solid red; */
background-color: white;
color: rgb(14, 13, 16);
border-radius: 8px;
outline: none;
width: 50vw;
padding: 0.5rem 0.75rem;
margin: 0.5rem 0;
text-align: center;
font-size: 1rem;
}

input {
background-color: white;
border-radius: 8px;
outline: none;
width: 100%;
padding: 0.3rem 0.5rem;
margin: 0.6rem 0;

}

.or{
    /* border: 1px solid black; */
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 0px;
}

.btn-primary{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  width: 100%;
    
}
